dbVendor=mysql
dbConnectString=dbi:mysql:orthomcl:localhost:3306:mysql_local_infile=1
dbLogin=root
dbPassword=root
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
evalueExponentCutoff=-2
percentMatchCutoff=20
oracleIndexTblSpc=None
